@tailwind base;
@tailwind components;
@tailwind utilities;

.btn2{
    background-color: #3cb878;
}
.box1{
    background-color: #6d6d6d;
}
.box2{
    background-color: #3cb878;
}
.Web{
    background-image: linear-gradient(rgba(255, 255, 255, 0.4),rgba(255, 255, 255, 0.4)) ,url(./public/aboutus-bg.webp);
    background-size: cover;
    background-position: center;
    
}
.division_one{
    background-color: #ededed;
}
.division_two{
    background-color: #ededed;
}
.division_three{
    background-color: #ededed;
}
.division_four{
    background-color: #ededed;
}