@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@media only screen and (max-width: 768.5px) {
    .nav_bar {
        z-index: 99;
    }
}



body {
    font-family: 'Varela Round', sans-serif;
    border: red 2px;
    
}
@media only screen and (max-width: 640px) {
    .hero_content {
        order: 2;
        width: 100%;
        justify-content: center;

    }

    .herotext {
        width: 100%;
        padding-top: 20px;
        text-align: center;
        align-items: center;
        font-size: 10px;

    }

    .heroimg {
        order: 1;
    }
}

@media only screen and (max-width: 640px) {
    .box2 {
        width: 100%;
    }
}
@media only screen and (max-width: 640px) {
    .client-section .box3 .boxone {
        border-bottom: 1px #6d6d6d;
    }
}



@media only screen and (max-width: 640px) {
    .content_main {
        margin-top: 100%;
        font-size: 20px;
    }

}



/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    padding-bottom: 10px;
    box-shadow: 0 3px 3px rgb(0 0 0 / 22%);
} */

.btn2 {
    background-color: #3cb878;
}

.box1 {
    background-color: #6d6d6d;
}

.box2 {
    background-color: #3cb878;
}

.Web {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(/aboutus-bg.webp);
    background-size: cover;
    background-position: center;

}

.division_one {
    background-color: #ededed;
}

.division_two {
    background-color: #ededed;
}

.division_three {
    background-color: #ededed;
}

.division_four {
    background-color: #ededed;
}

.us1 {
    color: #3cb878;

}
.bronze_package{
    background-color: #3cb878;
}
.premium_package{
    background-color: #3cb878;
}

.services {
    background-color: #f7f7f7;

}

.web1 {
    color: #3cb878;
}

.pom-icon {
    color: #3cb878;
}

.icon {
    color: #3cb878
}

.package_list {
    background-color: #f7f7f7;
}

.check {
    color: #3cb878;

}
.contact_us {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(/aboutus-bg.webp);
    background-size: cover;
    background-position: center;

}
.form {
    border: none;

}

.footer {
    background-color: #272727;
}